.shopcategory-banner{
    display: block;
    margin: 30px auto;
    width: 90%;
}
.shopcategory-indexSort{
    display: flex;
    margin: 0px 170px;
    justify-content: center;
    align-items: center;

}
.shopcategory-short{
    margin-left: 8px;
    padding: 2px 7px;
    border-radius: 40px;
    border: 1px solid #888;
}
.shopcategory-indexSort span{
    font-weight: 600;
}
.shopcategory-products{
    margin: 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
    column-gap: 30px;
}
.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
    width: 153px;
    height: 50px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
font-size: 18px;
font-weight: 600;

}